.mail {
  position: relative;
  width: 60%;
}

@include desktop {
  .mail:not(.active):hover {
    cursor: pointer;
    animation: mail .75s ease infinite;
    animation-direction: alternate;
  }

  @keyframes mail {
    0% {
      transform: scale(1) rotate(5deg);
    }

    50% {
      transform: rotate(355deg);
    }

    100% {
      transform: scale(1.2) rotate(0deg);
    }
  }
}

@include mobile {
  .mail {
    width: 100%;
  }
}

@include tablet {
  .mail {
    width: 100%;
  }
}

.mail__main-img {
  object-fit: contain;
  width: 100%;
}


.mail__opening-box {
  perspective: 1000px;
  position: absolute;
  top: 1px;
  width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: none;

}

.mail__opening-container {
  position: relative;
  width: 100%;
  height: 50%;
  transition: transform 1s;
  transition-delay: .5s;
  transform-style: preserve-3d;
}

.mail__animation {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 3;
}

.mail.active .mail__opening-container {
  transform: rotateX(180deg) translateY(100%);
  transition-delay: 0s;
}

.mail.active .post__img-shadow {
  opacity: 0;
  transition: opacity 1s;
}

.mail__animation--opened {
  transform: rotateY(180deg);
}

.mail__body-container {
  position: relative;
}

.mail__main--pre {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: z-index 1.5s;

}

.mail__iphone {
  object-fit: contain;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: transform .5s, z-index 1.5s;
}



.mail.active .mail__iphone {
  transform: translate(-50%, -100%);
  transition: transform 1s, z-index 0s;
  transition-delay: .5s;
  z-index: 2;
}

.mail.active .mail__main--pre {
  z-index: 3;
  transition: z-index 0s;
  transition-delay: 1s;
}